# Varaiales for local http calls
HTTP_ACCESS_TOKEN=v2.local.Jo_5B_CEfcV4OhjsFHGECiufNE65S2vyKAF0mcLtyUYKNTS24Kb1_DIDqGDHNQAkxgKrUDd3cSCRD8tUKlWSQ6TU7U1tKWpf_SFaP90-MK8HS7T0CIMKesc0WdSodrrmjNpj5xOIx36xeidckV_3qyQwDABVqUovPsrTAZhL6AnueTx2sCKZTE0k3hwQQvamywkuc0IuQ2CnebzqlH7sBJKvq9sqo2GQ3iEGW_XD9mtLsCESiaR-oJsYraa1M_Ch8HRSqZT7GGu0rpHlWVOSIprr4g.bnVsbA